*{
    padding: 0;
}

.left-arrow,
.right-arrow{
    width: 50px;
    height: 700px;
    background-color: black;
    border-radius: 50px;
}

.image-container {
    width: calc(100% - 100px);
    height: 700px;
    border-radius: 100px;
}

.left-arrow i,
.right-arrow i {
    color: yellow;
    cursor: pointer;
    font-size: 2rem;
}

.left-arrow:hover,
.right-arrow:hover {
    background-color: yellow;
}

.left-arrow i:hover,
.right-arrow i:hover {
    color: black;
}


.image-container img {
    height: 100%;
    width: 100%;
    border-radius: 100px;
}

.images-container {
    position: relative;
}

.image-number {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translatex(-50%);
    background-color: rgba(0, 0, 0, .7);
    border-radius: 25px;
}

.image-number i {
    cursor: pointer;
    font-size: 2.5rem;
    padding: 15px;
}


.active {
    background-color: yellow;
    border-radius: 100%;
}

